In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect(r"C:\Users\VTA-HAN\Desktop\VTA\VTA_RM.db")
c = conn.cursor()

In [7]:
query = """
SELECT ori_station || des_station AS sector,
		STRFTIME('%Y-%m-%d', departure_date) AS departure_date,
		STRFTIME('%Y-%m-%d', book_date) AS book_date,
		COUNT(*) AS  counting
	FROM reservation
	WHERE departure_date >= '2023-01-06' AND departure_date <= '2023-02-06'
	GROUP BY ori_station, des_station, STRFTIME('%Y-%m-%d', departure_date), STRFTIME('%Y-%m-%d', book_date)
"""

df = pd.read_sql_query(query, conn)
df.to_csv('res_ve_tet.csv', index=False)

In [8]:
query = """
SELECT dep_station || arr_station AS sector,
		STRFTIME('%Y-%m-%d', Flight_Origin_Date_LT) AS departure_date,
		SUM(SUBSTRING(config, -3)*1) AS capacity,
		COUNT(*) AS frequency 
	FROM flown_aircraft_leg
	WHERE Flight_Origin_Date_LT >= '2023-01-06' AND Flight_Origin_Date_LT <= '2023-02-06'
	GROUP BY dep_station, arr_station, STRFTIME('%Y-%m-%d', Flight_Origin_Date_LT)
"""

df = pd.read_sql_query(query, conn)
df.to_csv('leg_tet.csv', index=False)

In [6]:
df = pd.read_excel('ReservationSearch HANBKKHAN.xlsx')

In [7]:
df.to_sql('HANBKK_confirm_temp', conn, if_exists='replace')

23381