In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect(r"C:\Users\VTA-HAN\Desktop\VTA\VTA_RM.db")
c = conn.cursor()

In [49]:
add_reservation_charge_detail = pd.read_csv(r'C:\Users\VTA-HAN\Desktop\Reservation Charge Detail\bill_date_11_11.csv')

In [51]:
add_reservation_charge_detail['convert_timezone'] = pd.to_datetime(add_reservation_charge_detail['convert_timezone'])
add_reservation_charge_detail['convert_timezone.1'] = pd.to_datetime(add_reservation_charge_detail['convert_timezone.1'])
add_reservation_charge_detail['departure_date'] = pd.to_datetime(add_reservation_charge_detail['departure_date'])
add_reservation_charge_detail['convert_timezone.2'] = pd.to_datetime(add_reservation_charge_detail['convert_timezone.2'])
add_reservation_charge_detail['res_seg_cancel_date'] = pd.to_datetime(add_reservation_charge_detail['res_seg_cancel_date'])
add_reservation_charge_detail['res_seg_book_date'] = pd.to_datetime(add_reservation_charge_detail['res_seg_book_date'])
add_reservation_charge_detail['iata_num'] = add_reservation_charge_detail['iata_num'].\
    fillna(add_reservation_charge_detail['booking_agent']).astype(str).str.replace('.0', '', regex=False)

0         ezygtwy
1         ezygtwy
2        37100053
3        37100053
4        37100053
           ...
81511       11163
81512       11163
81513       11163
81514       11163
81515       11163
Name: iata_num, Length: 81516, dtype: object

In [46]:
add_reservation_charge_detail.iloc[:, -10:]

,res_seg_book_date,amount_applied,booking_agent,from_airport,to_airport,from_country,to_country,operating_carrier,iata_num,parent_iata_num
0,2022-11-10 23:28:45,0.0,ezygtwy,HAN,SGN,VN,VN,VU,ezygtwy,NaN
1,2022-11-10 23:28:45,0.0,ezygtwy,HAN,SGN,VN,VN,VU,ezygtwy,NaN
2,2022-11-10 12:00:01,0.0,tvlkapi05,SGN,DAD,VN,VN,VU,37100053,37100000.0
3,2022-11-10 12:00:01,0.0,tvlkapi05,SGN,DAD,VN,VN,VU,37100053,37100000.0
4,2022-11-10 12:00:01,0.0,tvlkapi05,SGN,DAD,VN,VN,VU,37100053,37100000.0
...,...,...,...,...,...,...,...,...,...,...
81511,2022-11-11 11:59:43,0.0,AG00011S163,HAN,SGN,VN,VN,VU,11163,37100011.0
81512,2022-11-11 11:59:43,0.0,AG00011S163,HAN,SGN,VN,VN,VU,11163,37100011.0
81513,2022-11-11 11:59:43,0.0,AG00011S163,HAN,SGN,VN,VN,VU,11163,37100011.0
81514,2022-11-11 11:59:43,0.0,AG00011S163,HAN,SGN,VN,VN,VU,11163,37100011.0
81515,2022-11-11 11:59:43,0.0,AG00011S163,HAN,SGN,VN,VN,VU,11163,37100011.0

In [47]:
add_reservation_charge_detail.iloc[:, 19:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81516 entries, 0 to 81515
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   currency_code        81516 non-null  object
 1   amount               81516 non-null  float64
 2   charge_status        81516 non-null  int64
 3   original_currency    81516 non-null  object
 4   original_amount      81516 non-null  float64
 5   voucher_num          0 non-null      float64
 6   convert_timezone.2   81516 non-null  datetime64[ns]
 7   res_currency         81516 non-null  object
 8   res_seg_cancel_date  60643 non-null  datetime64[ns]
 9   res_seg_book_date    81516 non-null  datetime64[ns]
 10  amount_applied       81516 non-null  float64
 11  booking_agent        81516 non-null  object
 12  from_airport         81516 non-null  object
 13  to_airport           81516 non-null  object
 14  from_country         81516 non-null  object
 15  to_country           81516 non-null  object
 16  operating_carrier    81516 non-null  object
 17  iata_num             81516 non-null  object
 18  parent_iata_num      66828 non-null  float64
dtypes: datetime64[ns](3), float64(5), int64(1), object(10)
memory usage: 11.8+ MB